@model System.Collections.Generic.List<Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <table>
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره همراه</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.firstName</td>
                        <td>@item.lastName</td>
                        <td>@item.phoneNumber</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</main>