@model System.Collections.Generic.List<Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<main class="d-flex flex-column gap-5">
    <p id="msg_box"></p>
    <form id="contact_form" class="d-grid gap-4 w-50 mx-auto my-3 shadow shadow-sm p-4" onsubmit="saveNewContact(event)">
        <div class="d-flex align-items-center gap-2">
            <label for="first_name" class="form-label">نام</label>
            <input value="" id="first_name" type="text" class="form-control" placeholder="نام خود را وارد کنید" />
        </div>
        <div class="d-flex align-items-center gap-2">
            <label for="last_name" class="form-label">نام خانوادگی</label>
            <input value="" id="last_name" type="text" class="form-control" placeholder="نام خانوادگی خود را وارد کنید" />
        </div>
        <div class="d-flex align-items-center gap-2">
            <label for="phone_number" class="form-label">شماره تماس</label>
            <input value="" id="phone_number" type="text" class="form-control" placeholder="شماره تماس را وارد کنید" />
        </div>
        <input value="" id="hidden_id" hidden />
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">تایید</button>
        </div>
        @*<button>حذف</button>*@
    </form>
    <table class="w-100 text-center">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره همراه</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody id="tbl_body">
        </tbody>
    </table>
</main>

<script>

    let html = "";

    const getAllContacts = async () => {
        let url = "/PhoneBook/getContacts";

        try {
            const res = await fetch(url);
            const data = await res.json();
            return data;
        } catch {
            document.querySelector("#tbl_body").innerHTML = "خطا در دریافت اطلاعات.";
        }
    }

    const showData = async () => {
        try {
            const contacts = await getAllContacts();
            for (let i = 0; i < contacts.length; i++) {
                html += '<tr>';
                html += '<td>' + contacts[i].firstName + '</td>';
                html += '<td>' + contacts[i].lastName + '</td>';
                html += '<td>' + contacts[i].phoneNumber + '</td>';
                html += '<td><div class="btn-group">';
                html += '<button class="btn btn-primary" onclick="getContactById(' + "'" + contacts[i].id + "'" + ') ">edit</button>';
                html += '<button class="btn btn-danger" onclick="deleteContact(' + "'" + contacts[i].id + "'" + ')">delete</button>';
                html += '</td></div>';
                html += '</tr>';
            }
            document.querySelector("#tbl_body").innerHTML = html;
        } catch {
            document.querySelector("#tbl_body").innerHTML = "خطا در نمایش اطلاعات.";
        }

    }

    const getContactById = async (id) => {
        var url = "/PhoneBook/getContactById/" + id;
        try {
            const res = await fetch(url);
            const data = await res.json();
            document.querySelector("#first_name").value = data.firstName;
            document.querySelector("#last_name").value = data.lastName;
            document.querySelector("#phone_number").value = data.phoneNumber;
            document.querySelector("#hidden_id").value = data.id;
            //console.log("single",data);
            return data;
        } catch {
            console.log("error getting data")
        }
    }

    async function saveNewContact(event) {
        event.preventDefault();
        var url = '/PhoneBook/saveContact';
        var model = {};
        model.firstName = document.querySelector("#first_name").value;
        model.lastName = document.querySelector("#last_name").value;
        model.phoneNumber = document.querySelector("#phone_number").value;
        model.id = document.querySelector("#hidden_id").value;

        const res = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ model })
        });

        const data = await res.json();

        console.log("saved contact", data);
    }

    const deleteContact = async (id) => {
        var url = '/PhoneBook/deleteById/' + id;
        try {
            const res = await fetch(url);
            const data = await res.json();
            document.querySelector("#msg_box").innerHTML = "کاربر با موفقیت حذف شد";
        } catch {
            document.querySelector("#msg_box").innerHTML = "خطا در حذف کاربر";
        }


    }

    showData();

</script>