@model System.Collections.Generic.List<Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<main class="d-flex flex-column gap-5">
    <form id="contact_form" class="d-grid gap-4 w-50 mx-auto my-3 shadow shadow-sm p-4">
        <div class="d-flex align-items-center gap-2">
            <label for="first_name" class="form-label">نام</label>
            <input value="" id="first_name" type="text" class="form-control" placeholder="نام خود را وارد کنید"/>
        </div>
        <div class="d-flex align-items-center gap-2">
            <label for="last_name" class="form-label">نام خانوادگی</label>
            <input value="" id="last_name" type="text" class="form-control" placeholder="نام خانوادگی خود را وارد کنید"/>
        </div>
        <div class="d-flex align-items-center gap-2">
            <label for="phone_number" class="form-label">شماره تماس</label>
            <input value="" id="phone_number" type="text" class="form-control" placeholder="شماره تماس را وارد کنید" />
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">تایید</button>
        </div>
        @*<button>حذف</button>*@
    </form>
    <table class="w-100 text-center">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره همراه</th>
            </tr>
        </thead>
        <tbody id="tbl_body">
        </tbody>
    </table>
</main>

<script>

    let url = "/PhoneBook/getContacts";
    let html = "";

    const getAllContacts = async () => {
        try {
            const res = await fetch(url);
            const data = await res.json();
            return data;
        } catch {
            document.querySelector("#tbl_body").innerHTML = "خطا در دریافت اطلاعات.";
        }
    }

    const showData = async () => {
        try {
            const contacts = await getAllContacts();
            for (let i = 0; i < contacts.length; i++) {
                html += '<tr>';
                html += '<td>' + contacts[i].firstName + '</td>';
                html += '<td>' + contacts[i].lastName + '</td>';
                html += '<td>' + contacts[i].phoneNumber + '</td>';
                html += '</tr>';
            }
            document.querySelector("#tbl_body").innerHTML = html;
        } catch {
            document.querySelector("#tbl_body").innerHTML = "خطا در نمایش اطلاعات.";
        }

    }

    showData();

</script>