@model System.Collections.Generic.List<Models.Contact>
@{
    ViewBag.Title = "Home Page";
}

<main>
    <table>
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره همراه</th>
            </tr>
        </thead>
        <tbody>
            @*@{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.firstName</td>
                        <td>@item.lastName</td>
                        <td>@item.phoneNumber</td>
                    </tr>
                }
            }*@
        </tbody>
    </table>
</main>

<script>

    let url = "/Home/GetContacts";
    let html = "";
    const getAllContacts = async () => {
        try {
            const res = await fetch(url);
            const data = await res.json();
            console.log(data);
            return data;
        } catch {
            console.log("error getting data");
        }
    }

    const contacts = getAllContacts();

    
</script>